*{
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: "Inter";
	color: #fafafa;
}

body{
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: center;
	background-color: #645986;
}

section{
	display: flex;
	flex-direction: column;
	width: 300px;
	height: 350px;
	background-color: #4e0250;
	border-radius: 5px;
	justify-content: center;
	align-items: center;
	border: 3px solid #801a86;
	box-shadow: 15px 15px 45px 10px #801a86;
}

h1{
	font-size: 60px;
	font-weight: 900;
	margin-bottom: 10px;
}

p{	
	font-size: 20px;
	margin-bottom: 8px;
}

span{
	font-size: 70px;
	background-color: #801a86;
	width: 90px;
	height: 90px;
	margin-bottom: 15px;
	border: 2px solid #fafafa;
	border-radius: 7px;
}

#controls{
	height: 70px;
	width: 180px;
	display: flex;
	justify-content: space-evenly;
}

.btn{
	height: 60px;
	width: 60px;
	border-radius: 50%;
	font-size: 40px;
	background-color: #801a86;
}
